# Utilização do Otimizador AdamW ao invés do Adam


No AdamW, o decaimento de peso é tratado separadamente, ajudando o modelo a generalizar melhor, evitando que ele fique "viciado" nos dados de treino.

In [2]:
import pandas as pd
import tensorflow as tf
import sklearn
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import OneHotEncoder # Utilizado para processamento de colunas categóricas
from sklearn.compose import ColumnTransformer

In [3]:
# https://www.kaggle.com/datasets/vfsousas/autos
base = pd.read_csv('autos.csv', encoding = 'ISO-8859-1')
base

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [4]:
# Remoção dos atributos que não irão influenciar no que desejamos fazer (prever o preço do carro)
base = base.drop('dateCrawled', axis = 1) # axis = 1 -> coluna; axis = 0 -> linha
base = base.drop('dateCreated', axis = 1)
base = base.drop('nrOfPictures', axis = 1)
base = base.drop('postalCode', axis = 1)
base = base.drop('lastSeen', axis = 1)
base

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [5]:
base['name'].value_counts()

name
Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Audi_A4_Avant_Klima_Gruene_Plakette_TÜV_&AU_NEU_XENON      1
Renault_clio_in_gold_450VB_!!                              1
Fiat_Doblo_1.6_Multijet                                    1
Renault_Laguna_1                                           1
BMW_M135i_vollausgestattet_NP_52.720____Euro               1
Name: count, Length: 233531, dtype: int64

In [6]:
base = base.drop('name', axis = 1)
# Foi decidido remover a coluna 'name' pois ela possui muitos valores únicos, o que pode atrapalhar o treinamento do modelo
# Além disso, existem outras colunas que indicam modelo e marca do carro

In [7]:
base['seller'].value_counts()

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

In [8]:
base = base.drop('seller', axis = 1)
# A coluna 'seller' possui apenas 3 valores 'privat', o que não é interessante para o treinamento do modelo
# manter essa coluna implicará que o modelo não conseguirá prever o preço de carros em revendas

In [9]:
base['offerType'].value_counts()

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

In [10]:
base = base.drop('offerType', axis = 1)
# Esse é o mesmo caso da coluna 'seller', a coluna 'offerType' possui apenas 12 valores 'Angebot'

In [11]:
base

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [12]:
base.loc[base['price'] <= 10]
# Existem mais de 12 mil registros com preço menor ou igual a 10,00

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,4,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,12,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,0,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,3,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,3,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,7,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja

In [13]:
base['price'].mean()
# Uma solução seria calcular a média dos preços e inserir esse valor nos registros com preço menor ou igual a 10,00
# Mas não é uma boa prática, pois pode distorcer o modelo
# Logo, iremos remover esses registros por não representarem um grande montante

17295.14186548524

In [14]:
base = base[base['price'] > 10] # Removendo registros com preço menor ou igual a 10,00

In [16]:
base.loc[base['price'] > 350000] # Verificando registros com preço maior que 350.000,00

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1846,579000,control,coupe,1980,manuell,277,andere,20000,12,benzin,bmw,nein
10649,420000,control,coupe,2004,manuell,483,911,50000,4,benzin,porsche,nein
14663,11111111,control,coupe,2003,manuell,64,polo,150000,2,benzin,volkswagen,NaN
16889,1000000,control,kombi,1998,NaN,0,mondeo,150000,0,benzin,ford,ja
20143,1250000,test,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
364171,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein
365461,599000,control,coupe,1980,manuell,377,andere,5000,3,benzin,bmw,nein
366653,99999999,control,cabrio,1996,manuell,192,3er,150000,0,NaN,bmw,NaN
366861,3895000,test,coupe,2006,NaN,799,NaN,5000,4,benzin,sonstige_autos,nein
367041,1600000,test,coupe,2005,NaN,625,NaN,10000,4,benzin,sonstige_autos,nein

In [17]:
base = base.loc[base['price'] < 350000] # Removendo registros com preço maior que 350.000,00 (valores incosisntentes)

In [18]:
base.loc[pd.isnull(base['vehicleType'])] # Identificando registros com valores nulos na coluna 'vehicleType'

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [19]:
base['vehicleType'].value_counts()

vehicleType
limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: count, dtype: int64

In [20]:
base['vehicleType'].mode()
# Utilizaremos a moda para preencher os valores nulos da coluna 'vehicleType'

0    limousine
Name: vehicleType, dtype: object

In [21]:
base.loc[pd.isnull(base['gearbox'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
70,1200,test,coupe,2001,NaN,0,astra,150000,0,NaN,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [22]:
base['gearbox'].value_counts()
# Utilizaremos a moda para preencher os valores nulos da coluna 'gearbox'

gearbox
manuell      266547
automatik     75508
Name: count, dtype: int64

In [23]:
base.loc[pd.isnull(base['model'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
156,6799,control,kleinwagen,2009,NaN,60,NaN,20000,5,benzin,volkswagen,nein
165,500,control,kleinwagen,1999,manuell,0,NaN,150000,0,benzin,renault,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [24]:
base['model'].value_counts()

model
golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
serie_1                1
discovery_sport        1
Name: count, Length: 251, dtype: int64

In [25]:
base.loc[pd.isnull(base['fuelType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [26]:
base['fuelType'].value_counts()

fuelType
benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: count, dtype: int64

In [27]:
base.loc[pd.isnull(base['notRepairedDamage'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [28]:
base['notRepairedDamage'].value_counts()

notRepairedDamage
nein    259301
ja       34004
Name: count, dtype: int64

In [30]:
# Preenchendo os valores nulos com a moda
# Para isso criaremos um dicionário com os valores que serão preenchidos
valores = {'vehicleType': 'limousine',
           'gearbox': 'manuell',
           'model': 'golf',
           'fuelType': 'benzin',
           'notRepairedDamage': 'nein'}

In [31]:
base = base.fillna(value = valores) # Aplicando a substituição dos valores nulos

In [35]:
base.isnull().sum() # Verificando se ainda existem valores nulos

price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [32]:
X = base.iloc[:, 1:12].values # Atributos previsores
X

array([['test', 'limousine', 1993, ..., 'benzin', 'volkswagen', 'nein'],
       ['test', 'coupe', 2011, ..., 'diesel', 'audi', 'ja'],
       ['test', 'suv', 2004, ..., 'diesel', 'jeep', 'nein'],
       ...,
       ['test', 'bus', 1996, ..., 'diesel', 'volkswagen', 'nein'],
       ['test', 'kombi', 2002, ..., 'diesel', 'volkswagen', 'nein'],
       ['control', 'limousine', 2013, ..., 'benzin', 'bmw', 'nein']],
      dtype=object)

In [33]:
y = base.iloc[:, 0].values # Atributo classe (valor do carro)
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990], dtype=int64)

In [34]:
# Aplicando o pré-processamento para transformar as colunas categóricas em colunas numéricas
onehotencoder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), 
                                                 [0, 1, 3, 5, 8, 9, 10] # Índices das colunas categóricas
                                                 )], 
                                  remainder='passthrough' # Mantém as colunas que não foram transformadas
                                  )

In [35]:
X = onehotencoder.fit_transform(X).toarray()
X

array([[0.00e+00, 1.00e+00, 0.00e+00, ..., 0.00e+00, 1.50e+05, 0.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.90e+02, 1.25e+05, 5.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.63e+02, 1.25e+05, 8.00e+00],
       ...,
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.02e+02, 1.50e+05, 3.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.00e+02, 1.50e+05, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 3.20e+02, 5.00e+04, 8.00e+00]])

In [43]:
base.shape

(359291, 12)

In [36]:
# Criando a rede neural
regressor = Sequential([
    tf.keras.layers.InputLayer(shape = (316,)), # 316 colunas
    tf.keras.layers.Dense(units = 158, activation = 'relu'), # 316 + 1 / 2 = 158
    tf.keras.layers.Dense(units = 158, activation = 'relu'),
    tf.keras.layers.Dense(units = 1, activation = 'linear') # Como é uma previsão de valor, a função de ativação é linear e uma única saída
])

In [37]:
regressor.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 158)            │        50,086 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 158)            │        25,122 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │           159 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 75,367 (294.40 KB)

 Trainable params: 75,367 (294.40 KB)

 Non-trainable params: 0 (0.00 B)

In [38]:
regressor.compile(loss = 'mean_absolute_error', optimizer = 'adamw', metrics = ['mean_absolute_error'])

In [39]:
regressor.fit(X, y, batch_size = 300, epochs = 100)

Epoch 1/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 4210.7310 - mean_absolute_error: 4210.7310
Epoch 2/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 3378.2725 - mean_absolute_error: 3378.2725
Epoch 3/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 3010.4233 - mean_absolute_error: 3010.4233
Epoch 4/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2863.7964 - mean_absolute_error: 2863.7964
Epoch 5/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2805.7100 - mean_absolute_error: 2805.7100
Epoch 6/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2745.9521 - mean_absolute_error: 2745.9521
Epoch 7/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2717.3865 - mean_absolute_error: 2717.3865
Epoch 8/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2682.0417 - mean_absolute_error: 2682.0417
Epoch 9/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2633.8823 - mean_absolute_error: 2633.8823
Epoch 10/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2577.8416 - mean_absolute_error: 2577.8416
Epoch 11/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2544.9304 - mean_absolute_error: 2544.9304
Epoch 12/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2543.9414 - mean_absolute_error: 2543.9414
Epoch 13/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2477.8826 - mean_absolute_error: 2477.8826
Epoch 14/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2514.8049 - mean_absolute_error: 2514.8049
Epoch 15/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2466.0020 - mean_absolute_error: 2466.0020
Epoch 16/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2467.6238 - mean_absolute_error: 2467.6238
Epoch 17/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2453.2412 - mean_absolute_error: 2453.2412
Epoch 18/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2438.4209 - mean_absolute_error: 2438.4209
Epoch 19/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2439.7893 - mean_absolute_error: 2439.7893
Epoch 20/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2399.2673 - mean_absolute_error: 2399.2673
Epoch 21/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2447.1826 - mean_absolute_error: 2447.1826
Epoch 22/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2379.1016 - mean_absolute_error: 2379.1016
Epoch 23/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2381.9563 - mean_absolute_error: 2381.9563
Epoch 24/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2383.3914 - mean_absolute_error: 2383.3914
Epoch 25/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2406.1663 - mean_absolute_error: 2406.1663
Epoch 26/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2383.8467 - mean_absolute_error: 2383.8467
Epoch 27/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2381.2039 - mean_absolute_error: 2381.2039
Epoch 28/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2360.4324 - mean_absolute_error: 2360.4324
Epoch 29/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2379.3633 - mean_absolute_error: 2379.3633
Epoch 30/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2359.8525 - mean_absolute_error: 2359.8523
Epoch 31/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2395.1797 - mean_absolute_error: 2395.1797
Epoch 32/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2372.5698 - mean_absolute_error: 2372.5698
Epoch 33/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2378.3689 - mean_absolute_error: 2378.3689
Epoch 34/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2362.3501 - mean_absolute_error: 2362.3501
Epoch 35/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2348.8171 - mean_absolute_error: 2348.8171
Epoch 36/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2354.3210 - mean_absolute_error: 2354.3210
Epoch 37/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2354.3623 - mean_absolute_error: 2354.3623
Epoch 38/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2355.7429 - mean_absolute_error: 2355.7429
Epoch 39/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2336.2422 - mean_absolute_error: 2336.2422
Epoch 40/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2318.2498 - mean_absolute_error: 2318.2498
Epoch 41/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2365.5322 - mean_absolute_error: 2365.5322
Epoch 42/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2325.1133 - mean_absolute_error: 2325.1133
Epoch 43/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2314.8469 - mean_absolute_error: 2314.8469
Epoch 44/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2350.9355 - mean_absolute_error: 2350.9355
Epoch 45/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2327.0493 - mean_absolute_error: 2327.0493
Epoch 46/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2316.5808 - mean_absolute_error: 2316.5808
Epoch 47/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2319.7549 - mean_absolute_error: 2319.7549
Epoch 48/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2317.3311 - mean_absolute_error: 2317.3311
Epoch 49/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2317.1292 - mean_absolute_error: 2317.1292
Epoch 50/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2318.1875 - mean_absolute_error: 2318.1875
Epoch 51/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2325.5576 - mean_absolute_error: 2325.5576
Epoch 52/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2293.7532 - mean_absolute_error: 2293.7532
Epoch 53/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2327.7581 - mean_absolute_error: 2327.7581
Epoch 54/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2314.1091 - mean_absolute_error: 2314.1091
Epoch 55/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2304.9443 - mean_absolute_error: 2304.9443
Epoch 56/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2309.1958 - mean_absolute_error: 2309.1958
Epoch 57/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2333.0818 - mean_absolute_error: 2333.0818
Epoch 58/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2295.5894 - mean_absolute_error: 2295.5894
Epoch 59/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2298.2629 - mean_absolute_error: 2298.2632
Epoch 60/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2291.6807 - mean_absolute_error: 2291.6807
Epoch 61/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2304.9941 - mean_absolute_error: 2304.9941
Epoch 62/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2298.3992 - mean_absolute_error: 2298.3992
Epoch 63/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2311.1448 - mean_absolute_error: 2311.1450
Epoch 64/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2295.2520 - mean_absolute_error: 2295.2520
Epoch 65/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2291.5181 - mean_absolute_error: 2291.5181
Epoch 66/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2295.0295 - mean_absolute_error: 2295.0295
Epoch 67/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2299.2688 - mean_absolute_error: 2299.2688
Epoch 68/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2282.8354 - mean_absolute_error: 2282.8354
Epoch 69/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2298.5422 - mean_absolute_error: 2298.5422
Epoch 70/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2286.9333 - mean_absolute_error: 2286.9333
Epoch 71/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2294.5425 - mean_absolute_error: 2294.5425
Epoch 72/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2282.6750 - mean_absolute_error: 2282.6750
Epoch 73/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2271.1394 - mean_absolute_error: 2271.1394
Epoch 74/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2307.7913 - mean_absolute_error: 2307.7913
Epoch 75/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2268.4993 - mean_absolute_error: 2268.4993
Epoch 76/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2266.0667 - mean_absolute_error: 2266.0667
Epoch 77/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2273.9905 - mean_absolute_error: 2273.9905
Epoch 78/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2272.0544 - mean_absolute_error: 2272.0544
Epoch 79/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2267.6641 - mean_absolute_error: 2267.6641
Epoch 80/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2278.6299 - mean_absolute_error: 2278.6299
Epoch 81/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2294.4761 - mean_absolute_error: 2294.4761
Epoch 82/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2284.0618 - mean_absolute_error: 2284.0618
Epoch 83/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2271.5874 - mean_absolute_error: 2271.5874
Epoch 84/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2281.2566 - mean_absolute_error: 2281.2566
Epoch 85/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - loss: 2255.3901 - mean_absolute_error: 2255.3904
Epoch 86/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2270.1636 - mean_absolute_error: 2270.1636
Epoch 87/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2267.1079 - mean_absolute_error: 2267.1079
Epoch 88/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2267.3342 - mean_absolute_error: 2267.3342
Epoch 89/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 2294.2585 - mean_absolute_error: 2294.2585
Epoch 90/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2298.5969 - mean_absolute_error: 2298.5972
Epoch 91/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2267.1360 - mean_absolute_error: 2267.1360
Epoch 92/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2242.9233 - mean_absolute_error: 2242.9236
Epoch 93/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2287.1663 - mean_absolute_error: 2287.1663
Epoch 94/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2287.8611 - mean_absolute_error: 2287.8611
Epoch 95/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2267.9473 - mean_absolute_error: 2267.9473
Epoch 96/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2275.7131 - mean_absolute_error: 2275.7131
Epoch 97/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2263.7747 - mean_absolute_error: 2263.7747
Epoch 98/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2247.8406 - mean_absolute_error: 2247.8406
Epoch 99/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2241.5173 - mean_absolute_error: 2241.5173
Epoch 100/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2251.7073 - mean_absolute_error: 2251.7075

In [44]:
X.shape

(359291, 316)

In [43]:
previsoes = regressor.predict(X) # Utilizando os próprios dados para prever

11228/11228 ━━━━━━━━━━━━━━━━━━━━ 11s 956us/step

In [49]:
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990], dtype=int64)

# Resultados obtidos com o AdamW

In [45]:
previsoes

array([[  830.47205],
       [11053.49   ],
       [13441.554  ],
       ...,
       [ 6290.5957 ],
       [ 3210.512  ],
       [27277.705  ]], dtype=float32)

In [51]:
y.mean(), previsoes.mean()

(5916.833945186492, 5488.493)

# Resultados obtidos com o Adam

In [54]:
previsoes

array([[  797.3094],
       [ 9669.138 ],
       [11807.787 ],
       ...,
       [ 4633.4966],
       [ 2291.7415],
       [26168.746 ]], dtype=float32)

In [59]:
y.mean()

5916.833945186492

In [60]:
previsoes.mean()

4795.3066